<a href="https://colab.research.google.com/github/K-3620/Investpy/blob/main/investpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install investpy

Collecting investpy
  Downloading https://files.pythonhosted.org/packages/68/13/96dafb7ab1bdd6e72b6d7ec7d1b1a1452c5a80bda58e552021c543d75e9b/investpy-1.0.tar.gz (4.4MB)
     |████████████████████████████████| 4.4MB 6.2MB/s
Collecting Unidecode>=1.1.1
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
     |████████████████████████████████| 245kB 45.6MB/s
Requirement already satisfied: setuptools>=41.2.0 in /usr/local/lib/python3.6/dist-packages (from investpy) (50.3.0)
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.6/dist-packages (from investpy) (1.18.5)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.6/dist-packages (from investpy) (1.1.3)
Collecting lxml>=4.4.1
  Downloading https://files.pythonhosted.org/packages/64/28/0b761b64ecbd63d272ed0e7a6ae6e4402fc37886b59181bfdf274424d693/lxml-4.6.1-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 48.6MB/s
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.6/dist-packages (from investpy) (2.23.0)
Collecting pytz>=2019.3
  Downloading https://files.pythonhosted.org/packages/4f/a4/879454d49688e2fad93e59d7d4efda580b783c745fd2ec2a3adf87b0808d/pytz-2020.1-py2.py3-none-any.whl (510kB)
     |████████████████████████████████| 512kB 49.8MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.1->investpy) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->investpy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->investpy) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->investpy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->investpy) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->investpy) (1.15.0)
Building wheels for collected packages: investpy
  Building wheel for investpy (setup.py) ... done
  Created wheel for investpy: filename=investpy-1.0-cp36-none-any.whl size=4465841 sha256=c8ca8f47d85b59dee35af09aae036feb76acd9644dbf71926a099698fcc53685
  Stored in directory: /root/.cache/pip/wheels/ed/a0/ec/5866604d61abe747911c1ecafeea8ac27b5b17670e1191782a
Successfully built investpy
Installing collected packages: Unidecode, lxml, pytz, investpy
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
  Found existing installation: pytz 2018.9
    Uninstalling pytz-2018.9:
      Successfully uninstalled pytz-2018.9
Successfully installed Unidecode-1.1.1 investpy-1.0 lxml-4.6.1 pytz-2020.1

In [2]:
import investpy

In [3]:
df = investpy.get_stock_historical_data(
    stock='000020' # 동화약품
    ,country='South Korea'
    ,from_date='01/01/2011'
    ,to_date='31/12/2011'
    ,as_json=False
    ,order='ascending'
)
df

              Open    High     Low   Close  Volume Currency
Date
2011-08-23  4855.0  4990.0  4855.0  4935.0  127354      KRW
2011-08-24  5020.0  5020.0  4820.0  4840.0  185301      KRW
2011-08-25  4925.0  5020.0  4850.0  4950.0  121430      KRW
2011-08-26  4970.0  5190.0  4760.0  5070.0  222830      KRW
2011-08-29  5090.0  5380.0  5020.0  5200.0  231782      KRW
...            ...     ...     ...     ...     ...      ...
2011-12-23  4195.0  4295.0  4185.0  4275.0   76350      KRW
2011-12-26  4290.0  4295.0  4200.0  4255.0   61055      KRW
2011-12-27  4220.0  4255.0  4140.0  4155.0  101139      KRW
2011-12-28  4010.0  4100.0  4010.0  4090.0  101464      KRW
2011-12-29  4080.0  4150.0  4050.0  4080.0   40600      KRW

[90 rows x 6 columns]